---
import { Icon } from "astro-icon";
---

<footer class="my-12">
  <div class="flex flex-col-reverse md:flex-row justify-center items-center">
    <p class="text-accent/90">Copyright © 2023 HypeBot. All rights reserved.</p>
    <a
      class="text-secondary group md:hidden"
      href="https://github.com/sonastea/hypebot"
      target="_blank"
      rel="noopener noreferer"
    >
      <Icon class="w-8 h-8 group-hover:text-accent" name="bx:bxl-github" />
    </a>
  </div>
</footer>
