---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

import heroImage from "../hero.svg";
import Container from "./container.astro";
---

<script>
  const servers = document.getElementById("s-servers");
  const users = document.getElementById("s-users");

  async function getStats() {
    await fetch(`${import.meta.env.PUBLIC_HYPEAPI}/stats`, {
      method: "GET",
      mode: "cors",
    })
      .then((res) => res.json())
      .then((data) => {
        if (servers !== null) servers.innerHTML = data.servers;
        if (users !== null) users.innerHTML = data.users;
      })
      .catch(() => {
        console.warn("Unable to retrieve hypebot stats");
        servers?.classList.add("text-fallback_text");
        users?.classList.add("text-fallback_text");
        if (servers !== null) servers.innerHTML = "n/a";
        if (users !== null) users.innerHTML = "n/a";
      });
  }

  getStats();
  setInterval(getStats, 60000);
</script>

<Container>
  <main class="grid lg:grid-cols-2 place-items-center pt-8 pb-16 md:py-20">
    <div>
      <Image
        class="rounded-sm shadow-sm"
        src={heroImage}
        alt="Hyped robot"
        sizes="(max-width:800px) 100vw, 800px"
        loading="eager"
      />
      <div>
        <div
          class="text-white text-lg md:text-2xl mt-6 mb-4 flex flex-wrap flex-col place-items-center md:flex-row md:justify-center w-full"
        >
          <a
            class="shadow-sm mb-3 md:mb-0 md:mr-2 hover:text-primary hover:brightness-110 flex p-1 px-4 bg-secondary rounded-full items-center justify-center whitespace-nowrap"
            href="https://discord.com/api/oauth2/authorize?client_id=994803132259381291&permissions=277028883456&scope=bot"
            rel="noopener"
            target="_blank"
            ><Icon class="w-5 h-5 md:w-8 md:h-8 mr-2" name="bx:bxs-bot" />
            <span>Add to server</span>
          </a>
          <a
            class="shadow-sm bg-accent hover:text-primary hover:brightness-125 flex p-1 px-3 rounded-full items-center justify-center whitespace-nowrap"
            href="https://discord.com/invite/y5XaQCbGXR"
            rel="noopener"
            target="_blank"
            ><Icon
              class="w-5 h-5 md:w-8 md:h-8 mr-2"
              name="bx:bxl-discord-alt"
            />
            <span>Support server</span>
          </a>
        </div>
      </div>
      <p class="text-primary_text text-center">
        HypeBot is in <b class="text-accent" id="s-servers"></b> servers and played
        for <b class="text-accent" id="s-users"></b> users
      </p>
    </div>
    <div class="mt-6 lg:m-0 lg:self-start">
      <iframe
        class="w-80 h-80 md:w-96 md:h-96"
        src="https://discord.com/widget?id=994801248664559637&theme=dark"
        allowtransparency="true"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
      ></iframe>
    </div>
  </main>
</Container>
