---
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";

import heroImage from "../hero.svg";
import Container from "./container.astro";
---

<Container>
  <main class="grid lg:grid-cols-2 place-items-center pt-8 pb-16 md:py-20">
    <div>
      <Picture
        class="rounded-md shadow-md"
        src={heroImage}
        alt="Two people hyped"
        widths={[200, 400, 800]}
        aspectRatio="4:3"
        sizes="(max-width:800px) 100vw, 800px"
        loading="eager"
        }
      />
      <div>
        <div class="mt-6 flex flex-col place-items-center md:flex-row md:justify-center gap-3">
          <a
            class="w-48 md:w-56 text-white shadow-md md:text-2xl hover:-translate-y-1 duration-200 hover:bg-secondary/90 hover:text-primary flex p-1 px-2 gap-1 bg-secondary border border-secondary rounded-full items-center justify-center whitespace-nowrap"
            href="https://discord.com/api/oauth2/authorize?client_id=994803132259381291&permissions=277028883456&scope=bot"
            rel="noopener"
            target="_blank"
          >
            <Icon class="w-4 h-4" name="bx:bxs-bot" />
            Add to server
          </a>
          <a
            class="w-48 md:w-56 shadow-md md:text-2xl hover:-translate-y-1 transition-transform duration-200 hover:border-secondary/90 hover:text-secondary/90 flex p-1 px-2 gap-1 text-accent border border-accent rounded-full items-center justify-center whitespace-nowrap"
            href="https://github.com/sonastea/hypebot"
            rel="noopener"
            target="_blank"
          >
            <Icon class="w-4 h-4" name="bx:bxl-discord-alt" />
            Support server
          </a>
        </div>
      </div>
    </div>
    <div class="mt-6 lg:m-0">
      <iframe
        class="w-72 h-80 md:w-80 md:h-96"
        src="https://discord.com/widget?id=994801248664559637&theme=dark"
        allowtransparency="true"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"
      ></iframe>
    </div>
  </main>
</Container>
