---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar.astro";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const openGraphImageURL = new URL(
  "/open_graph_image.png",
  Astro.site,
).toString();

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={title}
      canonical={canonicalURL}
      description={"HypeBot is a discord bot that plays a song when a user joins a voice channel."}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: "HypeBot - discord bot is hyped",
          image: openGraphImageURL,
        },
        image: {
          alt: "HypeBot Playing Song in a Discord Server",
        },
      }}
      twitter={{
        creator: "@TeaDroplets",
        site: "@hypebot.dev",
        card: "summary_large_image",
      }}
    />
    <title>{title}</title>
  </head>
  <body class="bg-primary">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      html,
      body {
        margin: 0;
        padding: 0;
      }

      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
